.card {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  align-items: center;
  .name {
    font-size: 1.5em;
    font-weight: 700;
    margin-left: 10px;
  }
  .stars {
    margin-left: auto;
  }
  .img {
    width: 150px;
    height: 150px;
  }
}